@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  background-color: rgba(20, 21, 28, 1);
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Inter', sans-serif;
}

button {
  cursor: pointer;
}

.bg-gradient {
  background-image: linear-gradient(to right top, #14151c, #181920, #1d1e25, #212229, #26272e);
}

.border-color {
  border-color: hsl(0, 0%, 22%);
}

.feature-card {
  border: 1px solid transparent; 
  transition: border 0.5s ease, box-shadow 0.5s ease;
}
.feature-card:hover {
  border: 1px solid rgba(116, 137, 172, 0.7); 
  box-shadow: 0 0 30px 2px rgba(142, 167, 209, 0.5); 
}

.feature-button {
  transition: transform 0.5s ease;
}
.feature-button:hover {
  transform: scale(1.05);
}

.button-pulse {
  animation: buttonPulse 2s infinite;
}

@keyframes buttonPulse {
  0% { box-shadow: 0 0 0 0 rgba(142, 167, 209, 0.4); } 
  70% { box-shadow: 0 0 0 10px rgba(142, 167, 209, 0); }
  100% { box-shadow: 0 0 0 0 rgba(142, 167, 209, 0); }
}